.leftMenu {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 0;
    top: var(--header-height);
    width: var(--left-menu-width);
    height: calc(100vh - var(--header-height));
}

.mainWindow {
    display: block;
    position: absolute;
    left: var(--left-menu-width);
    top: var(--header-height);
    width: calc(100vw - var(--left-menu-width));
    height: calc(100vh - var(--header-height));
}