.header {
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    background-color: var(--black);
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.title {
    width: fit-content;
    font-size: large;
}

.subtitle {
    font-size: medium;
    color: gray;
}

.switchBtnContainer {
    width: 14rem;
}

.downloadBtnContainer {
    width: fit-content;
}