.editPageMenu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 15%;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.canvasView {
    width: calc(100vh - var(--header-height) - 12%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .canvasContainer {
        aspect-ratio: 1 / 1; 
        width: 100%;
        background-color: black;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    .canvasButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;

        .canvasButtonContainer {
            flex-grow: 1;
        }
    }
}