.editPageMenu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: var(--main-page-menu-width);
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.editPageTutorial {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: auto;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}