.trainingPageMenu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: var(--main-page-menu-width);
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.trainingPageTutorial {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.finetune {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    .finetuneCanvasContainer {
        width: calc(100vh - var(--header-height) - 12%);
        aspect-ratio: 1 / 1; 
        background-color: black;
        box-sizing: border-box;
        border-radius: 1rem;
    }

    .finetuneMenu {
        width: 14rem;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        row-gap: 1rem;
    }
}

.trainingPageSeparator {
    height: 0;
    width: 100%;
    border-top: 1.5px dashed var(--gray);
}